SESSION_SECRET=your_secret_key_here
PORT=5000
MONGO_URI=mongodb://localhost:27017/yourdb

MAILTRAP_TOKEN  =

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
CLOUDINARY_CLOUD_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 


